/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-image-header {
  border:3px dotted blue;
  width:100%;
  max-width:100% !important;
  height:100vh;
}
