/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-image-header {
  .components-spinner {
	margin: 0;
	float: none;
  }

  // Space consecutive buttons evenly.
  .components-button + .components-button {
	margin-top: 1em;
	margin-right: 8px;
  }

  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
